<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Выборы
        link(rel="stylesheet", href="css/style.css")
    body
        include parts/main.pug
        include parts/popup.pug
        include parts/customization.pug
        script(src="js/main.js")