.main
    .main-cards
        .main-cards__item
            .candidate-block
                .photo.photo-1
                .result
                    .result-count 35%
                    .progress
                        .progress-bar.progress-bar-1
            .name Иванов Виктор Иванович
            .age 38 лет
            .title Пол:
            .sex Мужской
            .title Полит. взгляды:
            .views Левые
            .title Биография
            .bio 13 декабря 2016 года объявил, что намерен баллотироваться на президентских выборах 2018 года, опубликовал основные положения своей предвыборной программы и начал собирать сторонников
        .main-cards__item
            .candidate-block
                .photo.photo-2
                .result
                    .result-count 65%
                    .progress
                        .progress-bar.progress-bar-2
            .name петрова ирина сергеевна
            .age 45 лет
            .title Пол:
            .sex Женский
            .title Полит. взгляды:
            .views Либеральные
            .title Биография
            .bio Ко всем прочим заслугам можно отнести ее активную гражданскую позицию. Еще в конце 2011-го, после выборов в Государственную думу, вошла в десятку самых влиятельных российских женщин, рейтинг которой был составлен радиостанцией «Эхо Москвы»..
    .main-buttons 
        .btn(id="reset") сбросить результаты
        .btn(id="voting") провести честное голосование
        .btn(id="crime") вмешаться в выборы